*{
    margin: 0px;
}
.blobalContainer{
    padding: 20px;
    background-color: rgb(208, 208, 252);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 454px;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside main";
}
header{
    grid-area: header;
    padding: 20px;
    background-color: rgb(190, 134, 243);
    text-align: center;
}
aside{ 
    grid-area: aside;
    padding: 20px;
    background-color: rgb(134, 243, 188);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
main{ grid-area: main;
    padding: 20px;
    background-color: rgb(243, 134, 239);
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.gameBoard{
    padding: 20px;
    background-color: rgb(250, 163, 158);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.box0{
    border-bottom: solid;
    border-right: solid;
    padding: 40px;
}
.box0:hover{
    background-color: rgb(249, 249, 162);
    border-radius: 50px;
}
.box1{
    border-bottom: solid;
    padding: 40px;
}
.box1:hover{
    background-color: rgb(249, 249, 162);
    border-radius: 50px; 
}
.box2{
    border-bottom: solid;
    border-left: solid;
    padding: 40px;
}
.box2:hover{
    background-color: rgb(249, 249, 162);
border-radius: 50px;
}
.box3{
    border-right: solid;
    padding: 40px;
}
.box3:hover{
    background-color: rgb(249, 249, 162);
    border-radius: 50px;
}
.box4{
    padding: 40px;
}
.box4:hover{
    background-color: rgb(249, 249, 162);
border-radius: 50px;
}
.box5{
    border-left: solid;
    padding: 40px;
}
.box5:hover{ 
    background-color: rgb(249, 249, 162);
border-radius: 50px;
}
.box6{
    border-right: solid;
    border-top: solid;
    padding: 40px;
}
.box6:hover{
    background-color: rgb(249, 249, 162);
    border-radius: 50px;
}
.box7{
    border-top: solid;
    padding: 40px;
}
.box7:hover{
    background-color: rgb(249, 249, 162);
border-radius: 50px;
}
.box8{
    border-top: solid;
    border-left: solid;
    padding: 40px;
}
.box8:hover{
    background-color: rgb(249, 249, 162);
border-radius: 50px;
}